<html>
	<head>
		<title>Splitwise</title>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" href="static/stylesheets/style.css">
	</head>
	
	<body>
		<div class="container">
			
			<div class="header">
				<h3 class="text-muted"><center><br>Register</center></h3>
			</div>
			
			<div>
				<form action="" method="post">
					<center>
						<br>{{msg}}<br><br><br>
						 Choose Username: <input type="text" name="username">
						<br><br>
						 Choose Password: <input type="password" name="password">
						<br><br>
						 Choose Acccount Type: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Free User: 10 MB of space. | Paid User: 20 MB of space.<br><br>
						<select name='type' id='type'><option value='0'>Free</option><option value='1'>Paid</option></select><br><br>
						<input type="submit" value="Register">
					</center>
				</form>
			</div>
			
			<div class="header">
				<h3 class="text-muted"><center><br><a href='login'>Already an User?</a></center></h3>
			</div>
			
		</div>
	</body>
</html>